oauth-client/Android3CixtyOAuth/app/build/
oauth-client/Android3CixtyOAuth/build/
oauth-client/Android3CixtyOAuth/.idea/
oauth-client/Android3CixtyOAuth/.gradle/
oauth-client/Android3CixtyOAuth/local.properties
*.iml
oauth-client/3CixtyOAuthSample/local.properties
oauth-client/3CixtyOAuthSample/.idea/
oauth-client/3CixtyOAuthSample/.gradle/
oauth-client/3CixtyOAuthSample/app/build/
oauth-client/3CixtyOAuthSample/build/
oauth/apis-example-client-app/target/
oauth/apis-authorization-server/target/
oauth/apis-example-resource-server-war/target/
oauth/apis-authorization-server-war/target/
oauth/apis-resource-server-library/target/
oauth/apis-openconext-mock-war/target/
oauth/apis-example-resource-server/target/
oauth-client/Android3CixtyOAuth/app/app-release.apk
oauth/apis-authorization-server-dist/target/
oauth/apis-surfconext-authn/target/
