<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">3cixtydatabase001</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/3cixty?autoReconnect=true</property>
        <property name="hibernate.connection.username">3cixty</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.pool_size">100</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="show_sql">true</property>
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <mapping class="eu.threecixty.oauth.model.Scope"></mapping>
        <mapping class="eu.threecixty.oauth.model.App"></mapping>
        <mapping class="eu.threecixty.oauth.model.Developer"></mapping>
        <mapping class="eu.threecixty.oauth.model.User"></mapping>
        <mapping class="eu.threecixty.oauth.model.UserAccessToken"></mapping>
        <mapping class="eu.threecixty.logs.CallLogging"></mapping>
        <mapping class="eu.threecixty.partners.PartnerAccount"></mapping>
        <mapping class="eu.threecixty.partners.PartnerUser"></mapping>
        <mapping class="eu.threecixty.userprofile.AccompanyingModel"></mapping>
        <mapping class="eu.threecixty.userprofile.AccountModel"></mapping>
        <mapping class="eu.threecixty.userprofile.AddressModel"></mapping>
        <mapping class="eu.threecixty.userprofile.UserModel"></mapping>
        <mapping class="eu.threecixty.userprofile.TrayModel"></mapping>
        <mapping class="eu.threecixty.userprofile.ForgottenUser"></mapping>
        <mapping class="eu.threecixty.userprofile.UserActivation"></mapping>
    </session-factory>
</hibernate-configuration>